.chat-main-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh; /* Set the height to fill the viewport */
}

.conversation-btn-container {
    position: absolute;
    right: 0;
    top: 0;
}

.conversation-container {
    position: absolute;
    background-color: black;
    color: white;
    height: 100vh;
    overflow: scroll;
    max-width: 50%;
    opacity: 90%;
}

.Header {
    /* Your header styles here */
    grid-row: 1;
}

.Responses {
    overflow-y: auto; /* Enable vertical scrolling */
    grid-row: 2;
}

.Form {
    /* Your form styles here */
    grid-row: 3;
    position: sticky;
    bottom: 0;
}